public/index.html
<!DOCTYPE !>
<html lang="ru">
  <head>
    <title>MUG</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/MainCss.css"/>
  </head>
  <body>
    <div class="allContent__wrapper">
      <div class="allContent">
        <div class="header">
          <div class="header__logo">
            <div class="logo__name">MUG</div>
            <div class="logo__desk">Learning, develop</div>
          </div>
          <div class="header__nav">
            <ul class="nav">
              <li class="nav__list"><a class="nav__link" href="#">Home</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Professions</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Learning</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Jobs</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Leaderboard</a></li>
            </ul>
          </div>
          <div class="header__login">
            <button class="btn btn--bg">Sign in</button>
            <button class="btn btn--bg">Get started</button>
          </div>
        </div>
        <div class="select-way"><a class="select-way__path" href="pro.html">
            <div class="select-way__icon"><img src="./images/brain.png"/></div>
            <div class="select-way__name">Test</div>
            <div class="select-way__desk">
              In software engineering, the terms front end and back end refer to the
              separation of concerns between the presentation layer (front end), and the
            </div></a><a class="select-way__path" href="#">
            <div class="select-way__icon"><img src="./images/notepad.png"/></div>
            <div class="select-way__name">Template Pro</div>
            <div class="select-way__desk">
              In software engineering, the terms front end and back end refer to the
              data access layer (back end) of a piece of software, or the physical infrastructure or hardware.
            </div></a><a class="select-way__path" href="tree.html">
            <div class="select-way__icon"><img src="./images/target.png"/></div>
            <div class="select-way__name">Manual</div>
            <div class="select-way__desk">
              In software engineering, the terms front end and back end refer to the
              separation of concerns between the presentation layer (front end), and the
              data access layer (back end) of a piece of software, or the physical infrastructure or hardware.
            </div></a></div>
      </div>
    </div>
    <footer></footer>
    <script rel="script" src="script/jquery-1.11.1.min.js"></script>
    <script rel="script" src="script/jquerySelectorData.js"></script>
    <script rel="script" src="script/mainJS.js"></script>
  </body>
</html>

source/index.pug
extends ./blocks/MainLayout.pug
block content
    .select-way
        a(href="pro.html").select-way__path
            .select-way__icon
                img(src='./images/brain.png')
            .select-way__name Test
            .select-way__desk
                | In software engineering, the terms front end and back end refer to the
                | separation of concerns between the presentation layer (front end), and the
        a(href="#").select-way__path
            .select-way__icon
                img(src='./images/notepad.png')
            .select-way__name Template Pro
            .select-way__desk
                | In software engineering, the terms front end and back end refer to the
                | data access layer (back end) of a piece of software, or the physical infrastructure or hardware.
        a(href="tree.html").select-way__path
            .select-way__icon
                img(src='./images/target.png')
            .select-way__name Manual
            .select-way__desk
                | In software engineering, the terms front end and back end refer to the
                |separation of concerns between the presentation layer (front end), and the
                |data access layer (back end) of a piece of software, or the physical infrastructure or hardware.
