source/pro.pug
extends ./blocks/MainLayout.pug
block content
    .space
        h1 По результатам теста (опроса) выявлены желаемые направления
        h2 у нас есть список готовых предлоржений или вы можете собрать собственный курс сделав более точную настроку

    .setting-pro
        a(href="#").setting-pro__path
             .setting-pro__icon
                img(src='./images/brain.png')
             .setting-pro__info
                 .setting-pro__name Template Pro
                 .setting-pro__desk
                    | In software engineering, the terms front end and back end refer to the
                    | separation of concerns between the presentation layer (front end), and the
        a(href="pro.html").setting-pro__path
             .setting-pro__icon
                img(src='./images/notepad.png')
             .setting-pro__info
                 .setting-pro__name Fine tuning
                 .setting-pro__desk
                    | In software engineering, the terms front end and back end refer to the
                    | data access layer (back end) of a piece of software, or the physical infrastructure or hardware.

public/pro.html
<!DOCTYPE !>
<html lang="ru">
  <head>
    <title>MUG</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/MainCss.css"/>
  </head>
  <body>
    <div class="allContent__wrapper">
      <div class="allContent">
        <div class="header">
          <div class="header__logo">
            <div class="logo__name">MUG</div>
            <div class="logo__desk">Learning, develop</div>
          </div>
          <div class="header__nav">
            <ul class="nav">
              <li class="nav__list"><a class="nav__link" href="#">Home</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Professions</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Learning</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Jobs</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Leaderboard</a></li>
            </ul>
          </div>
          <div class="header__login">
            <button class="btn btn--bg">Sign in</button>
            <button class="btn btn--bg">Get started</button>
          </div>
        </div>
        <div class="space">
          <h1>По результатам теста (опроса) выявлены желаемые направления</h1>
          <h2>у нас есть список готовых предлоржений или вы можете собрать собственный курс сделав более точную настроку</h2>
        </div>
        <div class="setting-pro"><a class="setting-pro__path" href="#">
            <div class="setting-pro__icon"><img src="./images/brain.png"/></div>
            <div class="setting-pro__info">
              <div class="setting-pro__name">Template Pro</div>
              <div class="setting-pro__desk">
                In software engineering, the terms front end and back end refer to the
                separation of concerns between the presentation layer (front end), and the
              </div>
            </div></a><a class="setting-pro__path" href="pro.html">
            <div class="setting-pro__icon"><img src="./images/notepad.png"/></div>
            <div class="setting-pro__info">
              <div class="setting-pro__name">Fine tuning</div>
              <div class="setting-pro__desk">
                In software engineering, the terms front end and back end refer to the
                data access layer (back end) of a piece of software, or the physical infrastructure or hardware.
              </div>
            </div></a></div>
      </div>
    </div>
    <footer></footer>
    <script rel="script" src="script/jquery-1.11.1.min.js"></script>
    <script rel="script" src="script/jquerySelectorData.js"></script>
    <script rel="script" src="script/mainJS.js"></script>
  </body>
</html>
