source/tree.pug
extends ./blocks/MainLayout.pug
block content
    .skill.parent(data-key='')
        .skill__name HTML
        .skill__about
            ul.about__list
                li.about__link.course
                    span.name Количество курсов:
                    span.num   5
                li.about__link.book
                    span.name Количество книг:
                    span.num   25
                li.about__link.want
                    span.name Востребованность:
                    span.num   80%
                li.about__link.tests
                    span.name Количество заданий:
                    span.num   3

    .user(style="display:none;")
        .user__info
            .user__img
            .user__name VASJA PUPKIN
        .user__race
            span.hello Поздравляю мой друг! Ты прирожденный!
            span.race Халявщик.

    .space

    .navigation-content
        // button.btn.next Далее
        a(href="pro.html").btn.next Next step

public/tree.html
<!DOCTYPE !>
<html lang="ru">
  <head>
    <title>MUG</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/MainCss.css"/>
  </head>
  <body>
    <div class="allContent__wrapper">
      <div class="allContent">
        <div class="header">
          <div class="header__logo">
            <div class="logo__name">MUG</div>
            <div class="logo__desk">Learning, develop</div>
          </div>
          <div class="header__nav">
            <ul class="nav">
              <li class="nav__list"><a class="nav__link" href="#">Home</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Professions</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Learning</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Jobs</a></li>
              <li class="nav__list"><a class="nav__link" href="#">Leaderboard</a></li>
            </ul>
          </div>
          <div class="header__login">
            <button class="btn btn--bg">Sign in</button>
            <button class="btn btn--bg">Get started</button>
          </div>
        </div>
        <div class="skill parent" data-key="">
          <div class="skill__name">HTML</div>
          <div class="skill__about">
            <ul class="about__list">
              <li class="about__link course"><span class="name">Количество курсов:</span><span class="num">  5</span></li>
              <li class="about__link book"><span class="name">Количество книг:</span><span class="num">  25</span></li>
              <li class="about__link want"><span class="name">Востребованность:</span><span class="num">  80%</span></li>
              <li class="about__link tests"><span class="name">Количество заданий:</span><span class="num">  3</span></li>
            </ul>
          </div>
        </div>
        <div class="user" style="display:none;">
          <div class="user__info">
            <div class="user__img"></div>
            <div class="user__name">VASJA PUPKIN</div>
          </div>
          <div class="user__race"><span class="hello">Поздравляю мой друг! Ты прирожденный!</span><span class="race">Халявщик.</span></div>
        </div>
        <div class="space"></div>
        <div class="navigation-content">
          <!-- button.btn.next Далее--><a class="btn next" href="pro.html">Next step</a>
        </div>
      </div>
    </div>
    <footer></footer>
    <script rel="script" src="script/jquery-1.11.1.min.js"></script>
    <script rel="script" src="script/jquerySelectorData.js"></script>
    <script rel="script" src="script/mainJS.js"></script>
  </body>
</html>
